@tailwind base;
@tailwind components;
@tailwind utilities;

.circles {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: rotate;
  animation-duration: 25s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  backface-visibility: hidden;
  perspective: 1000;
}

.circle {
  position: relative;
  width: 1px;
  height: 1px;
  margin: calc(240px / 2);
  border-radius: 50%;
  backface-visibility: hidden;
  perspective: 1000;
  opacity: 0.9;
}

.circle.design {
  background: #bfdbfe;
  box-shadow: 0 0 240px 240px #bfdbfe;
  animation-name: float;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.circle.research {
  background: #bbf7d0;
  box-shadow: 0 0 240px 240px #bbf7d0;
  animation-name: float;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

@keyframes float {
  0% {
    transform: translateX(calc(240px * 0)) translateZ(0);
  }
  20% {
    transform: translateX(calc(240px * 0.5)) translateZ(0);
  }
  40% {
    transform: translateX(calc(240px * 1)) translateZ(0);
  }
  60% {
    transform: translateX(calc(240px * 1.5)) translateZ(0);
  }
  80% {
    transform: translateX(calc(240px * 0.5)) translateZ(0);
  }
  100% {
    transform: translateX(calc(240px * 0)) translateZ(0);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) translateZ(0);
  }
  100% {
    transform: rotate(360deg) translateZ(0);
  }
}

@media (max-width: 640px) {
  :root {
    --radius: 125px;
  }
}

@media (prefers-color-scheme: dark) {
  .circle.design {
    background: #1e40af;
    box-shadow: 0 0 240px 240px #1e40af;
  }

  .circle.research {
    background: #166534;
    box-shadow: 0 0 240px 240px #166534;
  }
}
